<a href="https://colab.research.google.com/github/slz520f/git_basic_kadai/blob/main/slz520f.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("1+100")

1+100

In [1]:
age = 18 # 年齢
if age < 20:
 #　未成年の場合　print("ジュースで乾杯")
  else: # 未成年の場合　print ("お酒で乾杯")

SyntaxError: invalid syntax (<ipython-input-1-c220f522592d>, line 4)

In [7]:
age = 18 # 年齢

if age < 20:
 #　未成年の場合
 print("ジュースで乾杯!")
else:
 # 成年の場合
 print("お酒で乾杯!")

ジュースで乾杯!

In [22]:
print(45%0.8)
print(45+1.8)
print(3-1.2)
print(15*0.6)
print(3/0.3)

0.1999999999999975
46.8
1.8
9.0
10.0

In [21]:
print(type(30/3))

<class 'float'>

In [25]:
print("今日の天気は"+"晴れ")
print("今日の天気は""曇り")

今日の天気は晴れ
今日の天気は曇り

In [28]:
print("降水確率"+str(50)+"%")
print("晴れ"*5)
print("晴れ"+"晴れ"+"晴れ"+"晴れ"+"晴れ")

降水確率50%
晴れ晴れ晴れ晴れ晴れ
晴れ晴れ晴れ晴れ晴れ

In [2]:
user_name = "侍太郎"
print(user_name)

侍太郎

In [4]:
user_name = "侍太郎"
print(user_name)
user_name = "侍花子"
print(user_name)

侍太郎
侍花子

In [6]:
# 整数型と浮動小数点型の足し算
number1 = 5
number2 = 2.5
print(number1+number2)

# 文字列型と文字列型の連結
last_name = "侍"
first_name = "太郎"
print(last_name+first_name)

7.5
侍太郎

In [7]:
last_name = "侍"
first_name = "太郎"
sister_name = "花子"

# 3つの変数を文字列内に埋め込んで表示
print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [8]:
top_length = 15
bottom_length = 20
height = 5
area = (top_length+bottom_length)*height/2
print(str(area)+"c㎡")

87.5c㎡